@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.contactWhatsapp {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  z-index: index 1;
  transition: all 500ms ease;
}

.contactWhatsapp:hover {
  background: #157e3d;
  z-index: index 0;
}

.contactWhatsapp i {
  color: white;
  font-size: 45px;
}

.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
  color: #7a7a7a;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 220px;
}

.card .card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card a:hover {
  background: #2fb4cc;
  color: #fff;
}

/*Inicio Cards INDEX*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }

  .card {
    margin: 15px;
  }
}

.offalquileres {
  color: #e39403;
}

/*Fin-Cards INDEX*/
/* Inicio InversionesAdds INDEX*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .inversionAdds {
    display: block;
    flex-wrap: wrap;
    padding: 50px;
    align-content: center;
  }

  .infoInversion {
    padding: 30px;
    justify-content: center;
  }
}

/* Fin InversionesAdds INDEX*/
/* Inicio Formulario Contacto*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .containerForm {
    display: block;
    flex-wrap: wrap;
    padding-top: 100px;
    margin: 15px;
  }

  .inputForm {
    margin: 25px;
  }
}

/* Fin Formulario Contacto*/
.containerForm {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
  margin-left: 50px;
}

.containerForm h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.containerForm p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.containerForm a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.containerForm a i {
  color: orange;
  margin-right: 10px;
}

.containerForm form .campo,
.containerForm textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.containerForm form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.containerForm .btnEnviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.containerForm .btnEnviar:hover {
  background: #6b675f;
}

.videoSection{
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.videoBackground{
  width: 100%;
}

.contentVideoInd{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
}

.textoVideo{
  color: #FFFFFF;
}


.descFooter {
  display: flex;
}





/* cards Index Representantes*/



.cardsRepr {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1f1f17;
}

.cardCorredores {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(163, 90, 7, 0.4);
  margin: 40px;
}

.cardCorredores .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;  
  text-align: center;  
  padding: 20px;
  background: rgba(102, 100, 100, 0.205);
}

.cardCorredores .content .img {
  height: 50%;
  margin-bottom: 20px;
}

.cardCorredores .content .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.cardCorredores .content span {
  position: absolute;
  width: 350px;
  height: 200px;
  background: linear-gradient(to right, #e0b525, #f8580d);
  transform: rotate(-35deg);
  top: -50px;
  left: -100px;
}

.cardCorredores .content h4 {
  font-size: 18px;
  color: #1a1919;
  margin-bottom: 5px;
}

.cardCorredores .content h6 {
  font-size: 13px;
  color: #220e24;
}

.cardCorredores .content p {
  font-size: 13px;
  color: #1a161f;
  margin-top: 10px;
}

.cardCorredores .links {
  position: absolute;
  z-index: 90;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  padding: 20px;
  align-items: center;
  right: 10px;
  top: 15px;
  transition: .5s;
}

.cardCorredores:hover .links {
  right: -50px;
  border-radius: 0 10px 10px 0;
}


.cardCorredores .links a {
  font-size: 20px;
  color: #646069;
}

.cardCorredores .links a:nth-child(1):hover {
  color: #0158ca;
}

.cardCorredores .links a:nth-child(2):hover {
  color: #1C93E4;
}

.cardCorredores .links a:nth-child(3):hover {
  color: #5D277D;
}

.cardCorredores .links a:nth-child(4):hover {
  color: #FE0000;
}