.navbar {
	font-family: 'Titillium Web';
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	overflow: hidden;
	background-color: rgba(248, 249, 250, 0.856);
	* {
		box-sizing: border-box;
		transition: all .35s ease;
	}
	.navbarImg{
	width: 40px;
		background: #d4d1cb13;
		border-radius: 0px;
		box-shadow: -15px -15px 15px rgba(48, 44, 44, 0.747),
			15px 15px 15px rgba(223, 96, 22, 0.363),
			inset -5px -5px 5px rgba(255, 255, 255, 0.2),
			inset 5px 5px 5px rgba(202, 186, 186, 0.171);
		
	}
	li {
		display: inline-block;
		list-style: outside none none;
		margin: .1em .1em;
		padding: 0;
	}

	a {
		padding: .5em .8em;
		color: rgba(27, 27, 27, 0.973);
		position: relative;
	
		&::before {
			content: '';
			right: 0;
			top: 0;
			border-top: 3px solid #f19926;
			border-right: 3px solid #ee701c;
			transform: translate(-100%, 50%);
		}

		&:after {
			content: '';
			left: 0;
			bottom: 0;
			border-bottom: 3px solid #1a1b19;
			border-left: 3px solid #fd6906;
			transform: translate(100%, -50%);
		}
		&:hover {
			color: #ff781e;
		}
	}
}

.navbar a::before,
.navbar a::after {
	content: '';
	height: 18px;
	width: 18px;
	position: absolute;
	transition: all .35s ease;
	opacity: 0;
}

.navbar a:hover:before,
.navbar a:hover:after {
	transform: translate(0, 0);
	opacity: 1;
}

